/* ------------------------
   FONT E STILE GENERALE
--------------------------- */
body {
    font-family: 'Cruyff Sans', 'Segoe UI', sans-serif;
    background:var(--primary-bg);
    color: var(--primary-text);
    margin: 0;
    padding: 0;
}

/* Container spacing */
.container {
    padding-top: 2rem;
}

/* ------------------------
   BUTTONS
--------------------------- */
.btn {
    border-radius: 999px;
    color: var(--primary-text);
}
.btn-primary {
    background-color: var(--primary-bg-btn);
}
.btn-secondary {
    background-color: var(--secondary-bg-btn);
}
.btn-nav {
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    color: var(--primary-text);
    cursor: pointer;
}
.btn-nav:hover:after {
   background-color: var(--primary-color);
    content: '';
    height: 0.125rem;
    inset-inline-start: 0;
    inset-inline-end: 0;
}
/* Bottoni con icone SVG */
.btn svg {
    transition: transform 0.2s ease;
}

.btn:hover svg {
    transform: scale(1.1);
}
/* ------------------------
   BORDER
--------------------------- */
.border {
    border-radius: 12px;
}
.border-primary {
    border: 2px solid var(--primary-color);
}
.border-secondary {
    border: 1px solid var(--secondary-color);
}
/* ------------------------
   CARD
--------------------------- */
.card-primary {
    border-radius: 12px;
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-bg);
}
.card-primary {
    border-radius: 12px;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-bg);
}